<div id="<%= dom_id meal %>" class="meal">
  <div>
    <div><%= meal.date %></div>
    <p class="text-xl"><%= meal.meal %></p>
  </div>

  <div class="actions">
    <%= link_to 'Edit', edit_meal_path(meal), class: "button" %>
    <%= button_to 'Remove', meal_path(meal), method: :delete, class: "button button--danger" %>
  </div>
</div>
