<div id="<%= dom_id meal %>" class="flex items-center justify-between bg-white rounded-md shadow-md p-4 mb-6">
  <div class="">
    <%= meal.date %>

    <p class="text-2xl">
      <%= meal.meal %>
    </p>
  </div>

  <div class="flex gap-4">
    <%= link_to 'Edit', edit_meal_path(meal), class: "button" %>
    <%= button_to 'Delete', meal_path(meal), method: :delete, class: "button" %>
  </div>
</div>
